node_modules
cookies.json
.env
**/cookies.js
**/creds.js

# TypeScript compiled output
routes.js
services/netflix/routes.js
services/netflix/scraper.js
services/prime/routes.js
db/dbQuery.js
utils/playwrightUtils.js
utils/utils.js
netflix/services/auth.js
